@page "/estacionbase/detalle/{nombreEstacionBase}"

@using Blazorise
@using PortalWeb.ViewModel

@inherits DetalleEstacionBaseViewModel

<h3>Detalle estación base @nombreEstacionBase</h3><br />

<!-- Selector fecha -->
<div class="row mb-2">
    <div class="col-md-1">Inicio:</div>
    <div class="col-md-3">
        <DateEdit TValue="DateTime?" @bind-Date="@fechaInicio"/>
    </div>
    <div class="col-md-1">Fin:</div>
    <div class="col-md-3">
        <DateEdit TValue="DateTime?" @bind-Date="@fechaFin" />
    </div>
    <div class="col-md-1">
        <a @onclick="@(async () => { await HandleRedraw(); })" class="btn btn-primary" style="color:white;">Redrae</a>
        <a @onclick="@(async () => { await FiltrarPorFecha(); })" class="btn btn-primary" style="color:white;">Refrescar</a>
    </div>
</div>

<!-- grafica TEMPERATURA-->
<div class="row">
    <div class="col-xl-9">
        <div class="card mb-4">
            <div class="card-header"> Temperatura</div>
            <div class="card-body">
                <LineChart @ref="graficaTemperatura" TItem="double" />
            </div>
        </div>

    </div>
</div>

<!-- grafica HUMEDAD-->
<div class="row">
    <div class="col-xl-9">
        <div class="card mb-4">
            <div class="card-header"> Humedad</div>
            <div class="card-body">
                <LineChart @ref="graficaHumedad" TItem="double" />
            </div>
        </div>
    </div>
</div>
