@page "/estacionbase"

@using Libreria.Entidades
@using Syncfusion.Blazor.Maps
@using PortalWeb.ViewModel

@inherits EstacionBaseViewModel

<!-- Page Content -->
<div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron">
        <h3>Estación @nombreEstacionBase </h3>
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>-->
        <!--<a href="#" class="btn btn-primary btn-lg">Call to action!</a>-->
        <div class="map">
            <SfMaps @ref="mapa">
                <!--<MapsTitleSettings Text="Sensores"></MapsTitleSettings>-->
                @* To zoom and pan *@
                <MapsZoomSettings Enable="true"
                                  Toolbars='new string[]{"ZoomIn", "ZoomOut", "Reset" }'
                                  ZoomFactor="13" MaxZoom="20"
                                  MouseWheelZoom="true">
                </MapsZoomSettings>
                <MapsCenterPosition Latitude=latitudInicial Longitude=longitudInicial></MapsCenterPosition>

                <MapsLayers>
                    <MapsLayer LayerType="ShapeLayerType.OSM">
                        @* Add marker *@
                        <MapsMarkerSettings>
                            <MapsMarker Visible="true"
                                        Height="25"
                                        Width="25"
                                        DataSource="MarkerDataSource"
                                        ColorValuePath="color">
                                <MapsMarkerTooltipSettings ValuePath="name" Visible="true"></MapsMarkerTooltipSettings>
                                @*para dar formato y añadir más valores Format="<b>${name}</b><br>Finalist: <b>${Winner}</b><br>Win: <b>${Finalist} en MapsMarkerTooltipSettings*@
                            </MapsMarker>
                        </MapsMarkerSettings>
                    </MapsLayer>
                </MapsLayers>
            </SfMaps>
        </div>
    </header>

    <!-- Page Features -->
    <div class="row ">
        @foreach (EntidadSensorResultado sensor in listaSensores)
        {
            <div class="col-lg-4 col-md-7 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        @if (sensor.Fecha == default(DateTime))
                        {
                            <!-- si el sensor no tiene datos muestra el nombre en naranja-->
                            <h4 class="card-title" style="color:#F34D1E"><span class="oi oi-rss" aria-hidden="true"></span>   @sensor.NombreSensor</h4>
                            <p>No se han encontrado datos del sensor</p>
                        }
                        else
                        {
                            <!-- si el sensor  tiene datos muestra el nombre en verde-->
                            <h4 class="card-title" style="color:#149E00"><span class="oi oi-rss" aria-hidden="true"></span>   @sensor.NombreSensor</h4>
                            <p>Última actualización: @sensor.Fecha</p>
                            <p>Temperatura: @sensor.Temperatura ºC</p>
                            <p>Humedad: @sensor.Humedad %</p>
                        }
                        <a href="/data" class="btn btn-primary">Ver más detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
