@page "/admin"

@using PortalWeb.ViewModel
@inherits AdministrarProyectosViewModel

@inject NavigationManager navmanager

<h3>Página de administración de proyectos</h3>

@if (proyectos == null)
{
    <p><em>Cargando ...</em></p>
}
else
{
    <div>
        <button class="btn btn-primary btn-sm" @onclick="@(async () => await Crear())"><span class="oi oi-plus"></span>Crear proyecto</button>
    </div>

    <h5> Proyectos disponibles</h5>

    <div class="row" style="margin-right:2px;">
        <!-- bucle que muestra los proyectos -->
        @foreach (var proyecto in proyectos)
        {
            var z =  estaciones.Where(eb => eb.FK_IdProyecto == proyecto.Id);

            <div class="card border-dark mb-3 mr-3" style="max-width:16rem;">
                <div class="card-header" style="background-color:rgba(0,0,0,.03);">
                    @proyecto.Nombre
                    <span class="oi oi-pencil btn" style="color:green; cursor:pointer;" @onclick="@(() => navmanager.NavigateTo($"/admin_estacionesbase/{proyecto.Nombre}"))"></span>
                    <span class="oi oi-x" style="color:red; cursor:pointer;" @onclick="@(async () => await Eliminar())"></span>
                </div>

                <div class="card-body text-dark">
                    <p class="card-text">@proyecto.Descripcion</p>
                    <p class="card-text mr-2" style="text-decoration:underline;">Elementos del proyecto:</p>
                    @*<button class="btn btn-warning btn-sm" @onclick="@(async () => await Editar())"><span class="oi oi-pencil"></span> Editar</button>*@

                    @if (z != null)
                    {
                        foreach (var estacion in z)
                        {
                            var v = sensores.Where(se => se.fk_idestacionbase == estacion.Id);

                            <ul class="list-unstyled">
                                <li>@estacion.Nombre</li>
                                @if(v != null)
                                {
                                    <ul>
                                        @foreach (var sensor in v)
                                        {
                                            <li>@sensor.NombreSensor</li>
                                        }
                                    </ul>
                                }
                            </ul>
                            @*<li class="list-group-item">@estacion.Nombre</li>*@
                            

                            @*if (v != null)
                            {
                                //eb => eb.FK_IdProyecto == proyecto.Id
                                <ul class="list-group">
                                    @foreach (var sensor in v)
                                    {

                                    <li class="list-group-item">
                                        @sensor.NombreSensor
                                    </li>
                                    }
                                </ul>
                            }*@
                        }                   
                    }

                    @*<a href="/admin_estacionesbase/@proyecto.Nombre"><span class="oi oi-pencil btn" style="color:yellow;"></span> Editar</a>*@
                    @*<button class="btn btn-danger btn-sm" @onclick="@(async () => await Eliminar())"><span class="oi oi-x"></span> Eliminar</button>*@
                </div>
            </div>
        }
    </div>
    

    <!-- si se hace clic en 'crear proyecto' se abre el modal -->
    @if (crear)
    {
        <div class="modal" tabindex="99" style="display: block; margin-top: 5%;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title"> Añadir Proyecto</h4>
                        <button type="button" class="close" @onclick="@(async () => await Close())"><span aria-hidden="true">X</span></button>
                    </div>

                    <div class="modal-body">
                        @if (!creado)
                        {
                            <EditForm Model="Proyecto" OnSubmit="@(async () => await CrearProyecto())">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="form-group">
                                    <div style="margin-bottom: 5px">
                                        <label for="nombre">Nombre</label>
                                        <InputText class="form-control" id="name" @bind-Value="Proyecto.Nombre"></InputText>
                                        <ValidationMessage For="@(()=> Proyecto.Nombre)" />
                                    </div>

                                    <div style="margin-bottom: 5px">
                                        <label for="descripcion">Descripción</label>
                                        <InputTextArea class="form-control" id="descripcion" @bind-Value="Proyecto.Descripcion"></InputTextArea>
                                        <ValidationMessage For="@(()=> Proyecto.Descripcion)" />
                                    </div>
                                </div>

                                <button class="btn btn-primary" type="submit">Aceptar</button>
                            </EditForm>
                        }
                        else
                        {
                            <div class="alert alert-success" role="alert"><strong>¡PROYECTO CREADO!</strong></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @if (editar)
    {
        <div class="modal" tabindex="99" style="display: block; margin-top: 5%;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Proyecto</h4>
                        <button type="button" class="close" @onclick="@(async () => await Close())"><span aria-hidden="true">X</span></button>
                    </div>

                    <div class="modal-body"> Ejemplo de cuerpo del modal</div>
                </div>
            </div>
        </div>
    }

    @if (eliminar)
    {
        <div class="modal" tabindex="99" style="display: block; margin-top: 5%;" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Proyecto</h4>
                        <button type="button" class="close" @onclick="@(async () => await Close())"><span aria-hidden="true">X</span></button>
                    </div>

                    <div class="modal-body"> ¿Seguro que quieres eliminar el proyecto? </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" @onclick="@(async () => await EliminarProyecto())">Aceptar</button>
                    </div>

                </div>

            </div>
        </div>
    }
}


