@page "/estacionbase/{idEstacionBase}"

@using Libreria.Entidades
@using Syncfusion.Blazor.Maps
@using PortalWebLogin.ViewModel
@using PortalWebLogin.Data

@inherits EstacionBaseViewModel
<!-- Page Content -->
@if (autorizado)
{
    @if (listaSensores.Count() > 0)
    {
        var link = $"estacionbase/detalle/{idEstacionBase}";

        <!-- Encabezado de la pagina -->
        <div class="row justify-content-between mr-3">
            <div class="col col-5">
                <h1>🗼 @nombreEstacionBase</h1>
            </div>
            <div class="col col-3">
                <a href=@link style="position:absolute; bottom:0; right:0;"> 👁️‍🗨️ vista detallada</a>
            </div>
        </div>

        <!-- Mapa que muestra la ubicación de los sensores -->
        <div class="container-fluid container-mapa mb-3">
            <SfMaps @ref="mapa">
                @* To zoom and pan *@
                <MapsZoomSettings Enable="true"
                                  Toolbars='new string[] { "ZoomIn", "ZoomOut", "Reset" }'
                                  ZoomFactor="13" MaxZoom="20"
                                  MouseWheelZoom="true">
                </MapsZoomSettings>
                <MapsCenterPosition Latitude=latitudInicial Longitude=longitudInicial></MapsCenterPosition>

                <MapsLayers>
                    <MapsLayer LayerType="ShapeLayerType.OSM">
                        @* Add marker *@
                        <MapsMarkerSettings>
                            <MapsMarker Visible="true"
                                        Height="25"
                                        Width="25"
                                        DataSource="MarkerDataSource"
                                        ColorValuePath="color">
                                <MapsMarkerTooltipSettings ValuePath="name" Visible="true"></MapsMarkerTooltipSettings>
                                @*para dar formato y añadir más valores Format="<b>${name}</b><br>Finalist: <b>${Winner}</b><br>Win: <b>${Finalist} en MapsMarkerTooltipSettings*@
                            </MapsMarker>
                        </MapsMarkerSettings>
                    </MapsLayer>
                </MapsLayers>
            </SfMaps>
        </div>

        <!-- Lista de los sensores que contiene la estacion base -->
        <div class="row ">
            @foreach (EntidadSensorResultado sensor in listaSensores)
            {
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6 mb-5">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            @if (sensor.Fecha == default(DateTime))
                            {
                                <!-- si el sensor no tiene datos muestra el nombre en naranja-->
                            <h4 class="card-title" style="color:#F34D1E"> 📍 @sensor.NombreSensor</h4>
                                <p id="no-visible">no hay datos </p>
                                <p> <span class="oi oi-warning"></span> No se han encontrado datos del sensor</p>
                                <p id="no-visible">no hay datos</p>
                            }
                            else
                            {
                                <!-- si el sensor  tiene datos muestra el nombre en verde-->
                                <h4 class="card-title" style="color:#149E00"> 📍 @sensor.NombreSensor</h4>
                                <p>Última actualización: @sensor.Fecha</p>
                                <p>Temperatura: @sensor.Temperatura ºC</p>
                                <p>Humedad: @sensor.Humedad %</p>
                            }
                            <a href="/data/@idEstacionBase/@sensor.IdSensor" class="btn btn-primary" style="float:right;">Ver más detalles</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="row">
            <h1>🗼 @nombreEstacionBase</h1>
        </div>

        <!-- Mapa vacio -->
        <div class="container-fluid container-mapa mb-3">
            <SfMaps @ref="mapa">
                <MapsZoomSettings Enable="false"
                                  Toolbars='new string[] { "ZoomIn", "ZoomOut", "Reset" }'
                                  ZoomFactor="5" MaxZoom="20">
                </MapsZoomSettings>
                <MapsCenterPosition Latitude=39.009 Longitude=-2.550></MapsCenterPosition>

                <MapsLayers>
                    <MapsLayer LayerType="ShapeLayerType.OSM"></MapsLayer>
                </MapsLayers>
            </SfMaps>
        </div>
        <div class="row mr-3 ml-3">
            <div class="col alert alert-warning" role="alert">
                Esta estación base no tiene sensores asociados.
            </div>
        </div>
    }
}
else
{
    <h5 class="alert alert-danger" role="alert"><strong><span class="oi oi-ban"></span> ERROR: @Constantes.ErrorNoAutorizado</strong></h5>
}


