@page "/"
@page "/generalproyectos"

@using Libreria.Entidades
@using Servicios

@using PortalWebLogin.ViewModel

@inherits GeneralProyectoViewModel

@if (proyectos != null)
{
    if (proyectos.Count() == 0)
    {
        <div class="col alert alert-warning ml-3 mr-3" role="alert"> Aún no tienes ningún proyecto. Puedes agregar uno en <a href="/admin" class="alert-link">"Administrar proyectos"</a>.</div>

    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel-general-proyectos panel-gp">
                    <div class="panel-heading-general-proyectos">
                        <div class="row">
                            <div class="col-md-5"><span class="oi oi-list"></span> Proyectos disponibles</div>
                            <div class="col-md-3"></div>
                            <div class="col-md-4"><input @bind-value="SearchTerm" @bind-value:event="oninput" placeholder="Buscar..." class="form-control" id="buscarproyecto" /></div>
                        </div>
                    </div>

                    <div class="panel-body-general-proyectos">
                        <ul class="list-group">
                            @foreach (var proyecto in proyectosFiltrados)
                            {
                                <a class="list-group-item list-group-item-action" @onclick="@(async () => await Mostrar(proyecto))">@proyecto.Nombre</a>
                            }
                        </ul>
                    </div>

                    <div class="panel-footer-general-proyectos">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 style="float:right;">Total <span class="label-general-proyectos label-gp">@proyectos.Count()</span></h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

}
else
{
    <p><em>Cargando proyectos...</em></p>
}

@if (mostrar)
{
    <div class="row">
        @if (listaEstacionesBase.Count() > 0)
        {
            @foreach (var estacion in listaEstacionesBase)
            {
                var link = $"estacionbase/{estacion.Item2.Id}";

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card h-100 shadow">
                        <div class="card-header card-header-eb">@nombreProyecto</div>
                        <div class="card-body">
                            <h4>🗼 @estacion.Item2.Nombre</h4>
                            <p>Total sensores: @estacion.Item1</p>
                            <a class="btn btn-outline-eb" style="float:right;" href=@link>Ir a la estación base</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col alert alert-warning ml-3 mr-3" role="alert"> Este proyecto no tiene estaciones base asociadas. Puedes agregar una en <a href="/admin" class="alert-link">administrar proyectos</a>.</div>
        }

    </div>
}